___

<a href='http://www.pieriandata.com'> <img src='../../Pierian_Data_Logo.png' /></a>
___

# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [1]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [2]:
sal = pd.read_csv('Salaries.csv')

** Check the head of the DataFrame. **

In [3]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [7]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

In [11]:
sal['BasePay'].mean()

66325.44884050643

**What is the average BasePay ?**

In [13]:
sal['BasePay'].mean()

66325.44884050643

In [14]:
sal['OvertimePay'].max()

245131.88

** What is the highest amount of OvertimePay in the dataset ? **

In [18]:
sal[sal['EmployeeName'].str.match('JOSEPH DRISCOLL')]['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [21]:
sal[sal['EmployeeName'].str.match('JOSEPH DRISCOLL')].JobTitle

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [34]:
jose = sal[sal['EmployeeName'].str.match('JOSEPH DRISCOLL')]

In [45]:
jose

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
24,25,JOSEPH DRISCOLL,"CAPTAIN, FIRE SUPPRESSION",140546.86,97868.77,31909.28,NaN,270324.91,270324.91,2011,NaN,San Francisco,NaN

In [53]:

x = 9
val = float(x)
val

9.0

In [60]:
jose['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [ ]:
def sum_numbers(par):
    try:
        val = float(par)
    except:
        print('ignore nan')

In [43]:
jose.sum(skipna=True)

Id                                         25
EmployeeName                  JOSEPH DRISCOLL
JobTitle            CAPTAIN, FIRE SUPPRESSION
BasePay                                140547
OvertimePay                           97868.8
OtherPay                              31909.3
Benefits                                    0
TotalPay                               270325
TotalPayBenefits                       270325
Year                                     2011
Notes                                       0
Agency                          San Francisco
Status                                      0
dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [69]:
sal['TotalPayBenefits'].max()

567595.43

In [70]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

** What is the name of highest paid person (including benefits)?**

In [74]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].min()]['EmployeeName']

148653    Joe Lopez
Name: EmployeeName, dtype: object

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [78]:
grp = sal.groupby('Year')

In [79]:
grp.mean()

,Id,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Notes,Status
Year,,,,,,,,,
2011,18080.0,63595.956517,4531.065429,3617.081926,NaN,71744.103871,71744.103871,NaN,NaN
2012,54542.5,65436.406857,5023.417824,3653.437583,26439.966967,74113.262265,100553.229232,NaN,NaN
2013,91728.5,69630.030216,5281.641980,3819.969007,23829.076572,77611.443142,101440.519714,NaN,NaN
2014,129593.0,66564.421924,5401.993737,3505.421251,24789.601756,75463.918140,100250.918884,NaN,NaN

In [80]:
grp.mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [89]:
sal['JobTitle'].unique().size

2159

** How many unique job titles are there? **

In [91]:
grp = sal.groupby('JobTitle')

In [92]:
grp.count()

,Id,EmployeeName,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
JobTitle,,,,,,,,,,,,
ACCOUNT CLERK,83,83,83,83,83,0,83,83,83,0,83,0
ACCOUNTANT,5,5,5,5,5,0,5,5,5,0,5,0
ACCOUNTANT INTERN,48,48,48,48,48,0,48,48,48,0,48,0
"ACPO,JuvP, Juv Prob (SFERS)",1,1,1,1,1,1,1,1,1,0,1,0
ACUPUNCTURIST,1,1,1,1,1,0,1,1,1,0,1,0
ADMINISTRATIVE ANALYST,93,93,93,93,93,0,93,93,93,0,93,0
ADMINISTRATIVE ANALYST II,2,2,2,2,2,0,2,2,2,0,2,0
ADMINISTRATIVE ANALYST III,2,2,2,2,2,0,2,2,2,0,2,0
ADMINISTRATIVE ENGINEER,10,10,10,10,10,0,10,10,10,0,10,0
ADMINISTRATIVE SERVICES MANAGER,3,3,3,3,3,0,3,3,3,0,3,0
"ADMINISTRATOR, SFGH MEDICAL CENTER",1,1,1,1,1,0,1,1,1,0,1,0
AFFIRMATIVE ACTION SPECIALIST,6,6,6,6,6,0,6,6,6,0,6,0
AGRICULTURAL INSPECTOR,2,2,2,2,2,0,2,2,2,0,2,0
"AIRPORT ASSISTANT DEPUTY DIRECTOR, BUSINESS ADMINI",1,1,1,1,1,0,1,1,1,0,1,0
"AIRPORT ASSISTANT DEPUTY DIRECTOR, OPERATIONS",1,1,1,1,1,0,1,1,1,0,1,0
AIRPORT COMMUNICATIONS OPERATOR,27,27,27,27,27,0,27,27,27,0,27,0
AIRPORT COMMUNICATIONS SUPERVISOR,2,2,2,2,2,0,2,2,2,0,2,0
AIRPORT ECONOMIC PLANNER,13,13,13,13,13,0,13,13,13,0,13,0
AIRPORT ELECTRICIAN,17,17,17,17,17,0,17,17,17,0,17,0
AIRPORT ELECTRICIAN SUPERVISOR,2,2,2,2,2,0,2,2,2,0,2,0
AIRPORT EMERGENCY PLANNING COORDINATOR,2,2,2,2,2,0,2,2,2,0,2,0
AIRPORT MECHANICAL MAINTENANCE SUPERVISOR,1,1,1,1,1,0,1,1,1,0,1,0
AIRPORT NOISE ABATEMENT SPECIALIST,2,2,2,2,2,0,2,2,2,0,2,0
AIRPORT OPERATIONS SUPERVISOR,12,12,12,12,12,0,12,12,12,0,12,0
AIRPORT POLICE SERVICES AIDE,187,187,187,187,187,0,187,187,187,0,187,0
AIRPORT PROPERTY SPECIALIST I,13,13,13,13,13,0,13,13,13,0,13,0
AIRPORT SAFETY OFFICER,40,40,40,40,40,0,40,40,40,0,40,0
ANESTHETIST,25,25,25,25,25,0,25,25,25,0,25,0
ANIMAL CARE ASSISTANT SUPERVISOR,1,1,1,1,1,0,1,1,1,0,1,0
ANIMAL CARE ATTENDANT,14,14,14,14,14,0,14,14,14,0,14,0
...,...,...,...,...,...,...,...,...,...,...,...,...
Wastewater Control Inspector,26,26,25,26,26,26,26,26,26,0,26,0
Water & Power Maint Sprv 1,9,9,9,9,9,9,9,9,9,0,9,0
Water Conservation Admin,12,12,12,12,12,12,12,12,12,0,12,0
Water Const&Main Supt,5,5,5,5,5,5,5,5,5,0,5,0
Water Meter Repairer,18,18,18,18,18,18,18,18,18,0,18,0
Water Meter Shop Supervisor 1,2,2,2,2,2,2,2,2,2,0,2,0
Water Operations Analyst,35,35,35,35,35,35,35,35,35,0,35,0
Water Quality Tech III,24,24,24,24,24,24,24,24,24,0,24,0
Water Quality Technician,32,32,32,32,32,32,32,32,32,0,32,0
Water QualityTech I/II,69,69,66,69,69,69,69,69,69,0,69,0
Water Service Inspector,82,82,82,82,82,82,82,82,82,0,82,0
Watershed Forester,6,6,6,6,6,6,6,6,6,0,6,0
Watershed Keeper,76,76,76,76,76,76,76,76,76,0,76,0
Watershed Keeper Supervisor,8,8,8,8,8,8,8,8,8,0,8,0
Watershed Worker (Seasonal),86,86,86,86,86,86,86,86,86,0,86,0
Welder,38,38,38,38,38,38,38,38,38,0,38,0
Welfare Fraud Investigator,16,16,16,16,16,16,16,16,16,0,16,0
Wharfinger 1,3,3,3,3,3,3,3,3,3,0,3,0
Wharfinger 2,10,10,10,10,10,10,10,10,10,0,10,0
Window Cleaner,50,50,50,50,50,50,50,50,50,0,50,0
Window Cleaner Supervisor,3,3,3,3,3,3,3,3,3,0,3,0
Wire Rope Cable Maint Mechanic,30,30,29,30,30,30,30,30,30,0,30,0
Wire Rope Cable Maint Sprv,3,3,3,3,3,3,3,3,3,0,3,0
Worker's Comp Supervisor 1,14,14,14,14,14,14,14,14,14,0,14,0
Worker's Compensation Adjuster,74,74,74,74,74,74,74,74,74,0,74,0
X-RAY LABORATORY AIDE,26,26,26,26,26,0,26,26,26,0,26,0
X-Ray Laboratory Aide,100,100,100,100,100,100,100,100,100,0,100,0
"YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS",1,1,1,1,1,0,1,1,1,0,1,0
Youth Comm Advisor,4,4,4,4,4,4,4,4,4,0,4,0
ZOO CURATOR,1,1,1,1,1,0,1,1,1,0,1,0

In [99]:
sal.groupby('JobTitle').describe().transpose()

JobTitle                ACCOUNT CLERK    ACCOUNTANT  ACCOUNTANT INTERN  \
BasePay          count      83.000000      5.000000          48.000000
                 mean    43300.806506  46643.172000       28732.663958
                 std     12890.631740  27703.019579       20635.668379
                 min       614.000000      0.000000        2981.530000
                 25%     42962.470000  42522.300000        9940.000000
                 50%     49777.780000  60076.240000       16806.755000
                 75%     49777.810000  65225.310000       53789.800000
                 max     60838.200000  65392.010000       58501.720000
Benefits         count       0.000000      0.000000           0.000000
                 mean             NaN           NaN                NaN
                 std              NaN           NaN                NaN
                 min              NaN           NaN                NaN
                 25%              NaN           NaN                NaN
                 50%              NaN           NaN                NaN
                 75%              NaN           NaN                NaN
                 max              NaN           NaN                NaN
Id               count      83.000000      5.000000          48.000000
                 mean    25734.819277  24159.200000       28128.833333
                 std      2621.592874   6787.702608        3941.782388
                 min     20766.000000  19264.000000       21536.000000
                 25%     24581.000000  19325.000000       23325.750000
                 50%     24774.000000  20993.000000       29979.500000
                 75%     26299.500000  25928.000000       31639.250000
                 max     35638.000000  35286.000000       34267.000000
Notes            count       0.000000      0.000000           0.000000
                 mean             NaN           NaN                NaN
                 std              NaN           NaN                NaN
                 min              NaN           NaN                NaN
                 25%              NaN           NaN                NaN
                 50%              NaN           NaN                NaN
...                               ...           ...                ...
Status           std              NaN           NaN                NaN
                 min              NaN           NaN                NaN
                 25%              NaN           NaN                NaN
                 50%              NaN           NaN                NaN
                 75%              NaN           NaN                NaN
                 max              NaN           NaN                NaN
TotalPay         count      83.000000      5.000000          48.000000
                 mean    44035.664337  47429.268000       29031.742917
                 std     13170.742908  27137.331315       20711.322649
                 min       614.000000   1148.400000        2981.530000
                 25%     42984.010000  45304.380000        9940.000000
                 50%     49777.820000  60076.240000       17658.505000
                 75%     50401.810000  65225.310000       53789.800000
                 max     60838.200000  65392.010000       58799.530000
TotalPayBenefits count      83.000000      5.000000          48.000000
                 mean    44035.664337  47429.268000       29031.742917
                 std     13170.742908  27137.331315       20711.322649
                 min       614.000000   1148.400000        2981.530000
                 25%     42984.010000  45304.380000        9940.000000
                 50%     49777.820000  60076.240000       17658.505000
                 75%     50401.810000  65225.310000       53789.800000
                 max     60838.200000  65392.010000       58799.530000
Year             count      83.000000      5.000000          48.000000
                 mean     2011.000000   2011.000000        2011.000000
                 std         0.000000      0.000000           0.000000
                 min      2011.000000   2011.000000        2011.000000
                 25%      2011.000000   2011.000000        2011.000000
                 50%      2011.000000   2011.000000        2011.000000
                 75%      2011.000000   2011.000000        2011.000000
                 max      2011.000000   2011.000000        2011.000000

JobTitle                ACPO,JuvP, Juv Prob (SFERS)  ACUPUNCTURIST  \
BasePay          count                         1.00            1.0
                 mean                      62290.78        66374.4
                 std                            NaN            NaN
                 min                       62290.78        66374.4
                 25%                       62290.78        66374.4
                 50%                       62290.78        66374.4
                 75%                       62290.78        66374.4
                 max                       62290.78        66374.4
Benefits         count                         1.00            0.0
                 mean                      17975.59            NaN
                 std                            NaN            NaN
                 min                       17975.59            NaN
                 25%                       17975.59            NaN
                 50%                       17975.59            NaN
                 75%                       17975.59            NaN
                 max                       17975.59            NaN
Id               count                         1.00            1.0
                 mean                     135284.00        18379.0
                 std                            NaN            NaN
                 min                      135284.00        18379.0
                 25%                      135284.00        18379.0
                 50%                      135284.00        18379.0
                 75%                      135284.00        18379.0
                 max                      135284.00        18379.0
Notes            count                         0.00            0.0
                 mean                           NaN            NaN
                 std                            NaN            NaN
                 min                            NaN            NaN
                 25%                            NaN            NaN
                 50%                            NaN            NaN
...                                             ...            ...
Status           std                            NaN            NaN
                 min                            NaN            NaN
                 25%                            NaN            NaN
                 50%                            NaN            NaN
                 75%                            NaN            NaN
                 max                            NaN            NaN
TotalPay         count                         1.00            1.0
                 mean                      62290.78        67594.4
                 std                            NaN            NaN
                 min                       62290.78        67594.4
                 25%                       62290.78        67594.4
                 50%                       62290.78        67594.4
                 75%                       62290.78        67594.4
                 max                       62290.78        67594.4
TotalPayBenefits count                         1.00            1.0
                 mean                      80266.37        67594.4
                 std                            NaN            NaN
                 min                       80266.37        67594.4
                 25%                       80266.37        67594.4
                 50%                       80266.37        67594.4
                 75%                       80266.37        67594.4
                 max                       80266.37        67594.4
Year             count                         1.00            1.0
                 mean                       2014.00         2011.0
                 std                            NaN            NaN
                 min                        2014.00         2011.0
                 25%                        2014.00         2011.0
                 50%                        2014.00         2011.0
                 75%                        2014.00         2011.0
                 max                        2014.00         2011.0

JobTitle                ADMINISTRATIVE ANALYST  ADMINISTRATIVE ANALYST II  \
BasePay          count               93.000000                   2.000000
                 mean             63435.628602               59373.710000
                 std              19079.519592               22927.385837
                 min                  0.000000               43161.600000
                 25%              62136.510000               51267.655000
                 50%              71602.900000               59373.710000
                 75%              75005.620000               67479.765000
                 max              78587.890000               75585.820000
Benefits         count                0.000000                   0.000000
                 mean                      NaN                        NaN
                 std                       NaN                        NaN
                 min                       NaN                        NaN
                 25%                       NaN                        NaN
                 50%                       NaN                        NaN
                 75%                       NaN                        NaN
                 max                       NaN                        NaN
Id               count               93.000000                   2.000000
                 mean             19052.946237               20542.000000
                 std               4899.535054                6970.658649
                 min              14517.000000               15613.000000
                 25%              15774.000000               18077.500000
                 50%              16928.000000               20542.000000
                 75%              20359.000000               23006.500000
                 max              34572.000000               25471.000000
Notes            count                0.000000                   0.000000
                 mean                      NaN                        NaN
                 std                       NaN                        NaN
                 min                       NaN                        NaN
                 25%                       NaN                        NaN
                 50%                       NaN                        NaN
...                                        ...                        ...
Status           std                       NaN                        NaN
                 min                       NaN                        NaN
                 25%                       NaN                        NaN
                 50%                       NaN                        NaN
                 75%                       NaN                        NaN
                 max                       NaN                        NaN
TotalPay         count               93.000000                   2.000000
                 mean             63954.867527               61497.035000
                 std              18613.695839               19924.550824
                 min               2388.240000               47408.250000
                 25%              62136.510000               54452.642500
                 50%              71602.900000               61497.035000
                 75%              75005.630000               68541.427500
                 max              79754.030000               75585.820000
TotalPayBenefits count               93.000000                   2.000000
                 mean             63954.867527               61497.035000
                 std              18613.695839               19924.550824
                 min               2388.240000               47408.250000
                 25%              62136.510000               54452.642500
                 50%              71602.900000               61497.035000
                 75%              75005.630000               68541.427500
                 max              79754.030000               75585.820000
Year             count               93.000000                   2.000000
                 mean              2011.000000                2011.000000
                 std                  0.000000                   0.000000
                 min               2011.000000                2011.000000
                 25%               2011.000000                2011.000000
                 50%               2011.000000                2011.000000
                 75%               2011.000000                2011.000000
                 max               2011.000000                2011.000000

JobTitle                ADMINISTRATIVE ANALYST III  ADMINISTRATIVE ENGINEER  \
BasePay          count                    2.000000                10.000000
                 mean                 92698.515000            120913.161000
                 std                    209.989501             19537.388445
                 min                  92550.030000             72259.200000
                 25%                  92624.272500            120126.685000
                 50%                  92698.515000            130171.010000
                 75%                  92772.757500            130171.072500
                 max                  92847.000000            136679.610000
Benefits         count                    0.000000                 0.000000
                 mean                          NaN                      NaN
                 std                           NaN                      NaN
                 min                           NaN                      NaN
                 25%                           NaN                      NaN
                 50%                           NaN                      NaN
                 75%                           NaN                      NaN
                 max                           NaN                      NaN
Id               count                    2.000000                10.000000
                 mean                 11020.500000              4781.800000
                 std                     50.204581              2473.903295
                 min                  10985.000000              2263.000000
                 25%                  11002.750000              3736.250000
                 50%                  11020.500000              4179.500000
                 75%                  11038.250000              4295.000000
                 max                  11056.000000             11230.000000
Notes            count                    0.000000                 0.000000
                 mean                          NaN                      NaN
                 std                           NaN                      NaN
                 min                           NaN                      NaN
                 25%                           NaN                      NaN
                 50%                           NaN                      NaN
...                                            ...                      ...
Status           std                           NaN                      NaN
                 min                           NaN                      NaN
                 25%                           NaN                      NaN
                 50%                           NaN                      NaN
                 75%                           NaN                      NaN
                 max                           NaN                      NaN
TotalPay         count                    2.000000                10.000000
                 mean                 92698.515000            127961.430000
                 std                    209.989501             14993.074838
                 min                  92550.030000             91833.330000
                 25%                  92624.272500            129235.230000
                 50%                  92698.515000            130171.065000
                 75%                  92772.757500            133775.530000
                 max                  92847.000000            149322.230000
TotalPayBenefits count                    2.000000                10.000000
                 mean                 92698.515000            127961.430000
                 std                    209.989501             14993.074838
                 min                  92550.030000             91833.330000
                 25%                  92624.272500            129235.230000
                 50%                  92698.515000            130171.065000
                 75%                  92772.757500            133775.530000
                 max                  92847.000000            149322.230000
Year             count                    2.000000                10.000000
                 mean                  2011.000000              2011.000000
                 std                      0.000000                 0.000000
                 min                   2011.000000              2011.000000
                 25%                   2011.000000              2011.000000
                 50%                   2011.000000              2011.000000
                 75%                   2011.000000              2011.000000
                 max                   2011.000000              2011.000000

JobTitle                ADMINISTRATIVE SERVICES MANAGER     ...       \
BasePay          count                         3.000000     ...
                 mean                      75555.033333     ...
                 std                       22526.496747     ...
                 min                       49879.730000     ...
                 25%                       67331.550000     ...
                 50%                       84783.370000     ...
                 75%                       88392.685000     ...
                 max                       92002.000000     ...
Benefits         count                         0.000000     ...
                 mean                               NaN     ...
                 std                                NaN     ...
                 min                                NaN     ...
                 25%                                NaN     ...
                 50%                                NaN     ...
                 75%                                NaN     ...
                 max                                NaN     ...
Id               count                         3.000000     ...
                 mean                      15777.000000     ...
                 std                        6441.930378     ...
                 min                       11180.000000     ...
                 25%                       12095.500000     ...
                 50%                       13011.000000     ...
                 75%                       18075.500000     ...
                 max                       23140.000000     ...
Notes            count                         0.000000     ...
                 mean                               NaN     ...
                 std                                NaN     ...
                 min                                NaN     ...
                 25%                                NaN     ...
                 50%                                NaN     ...
...                                                 ...     ...
Status           std                                NaN     ...

In [103]:
sal['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

** What are the top 5 most common jobs? **

In [104]:
sal['JobTitle'].value_counts().tail()

AREA SUPERVISOR, PARKS, SQUARES AND FACILITIES    1
MEDIA TRAINING SPECIALIST                         1
SPECIAL ASSISTANT XVI                             1
ASSISTANT LAW LIBRARIAN                           1
WAREHOUSE WORKER                                  1
Name: JobTitle, dtype: int64

In [111]:
sum(sal[sal['Year']==2013]['JobTitle'].value_counts() == 1)

202

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [112]:
sal['JobTitle']

0           GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1                          CAPTAIN III (POLICE DEPARTMENT)
2                          CAPTAIN III (POLICE DEPARTMENT)
3                     WIRE ROPE CABLE MAINTENANCE MECHANIC
4             DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
5                                ASSISTANT DEPUTY CHIEF II
6                       BATTALION CHIEF, (FIRE DEPARTMENT)
7                           DEPUTY DIRECTOR OF INVESTMENTS
8                       BATTALION CHIEF, (FIRE DEPARTMENT)
9                   CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)
10        ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)
11                         CAPTAIN III (POLICE DEPARTMENT)
12                             EXECUTIVE CONTRACT EMPLOYEE
13                                       DEPARTMENT HEAD V
14                      BATTALION CHIEF, (FIRE DEPARTMENT)
15                      COMMANDER III, (POLICE DEPARTMENT)
16                                       DEPARTMENT HEAD V
17                   CAPTAIN, EMERGENCYCY MEDICAL SERVICES
18                      BATTALION CHIEF, (FIRE DEPARTMENT)
19                              ASSISTANT MEDICAL EXAMINER
20                              ASSISTANT MEDICAL EXAMINER
21                              ASSISTANT MEDICAL EXAMINER
22                               CAPTAIN, FIRE SUPPRESSION
23                      BATTALION CHIEF, (FIRE DEPARTMENT)
24                               CAPTAIN, FIRE SUPPRESSION
25                                         CHIEF OF POLICE
26                               CAPTAIN, FIRE SUPPRESSION
27                      BATTALION CHIEF, (FIRE DEPARTMENT)
28                    DEPUTY CHIEF III (POLICE DEPARTMENT)
29            DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
                                ...
148624                                        Senior Clerk
148625                                    Registered Nurse
148626                                       Account Clerk
148627                                     General Laborer
148628                                     General Laborer
148629                                  Transcriber Typist
148630                                           Carpenter
148631                         Communications Dispatcher 1
148632                          Protective Services Worker
148633                                     General Laborer
148634                                 Transit Car Cleaner
148635                                     General Laborer
148636                                 Arborist Technician
148637                              Transit Fare Inspector
148638                                         Electrician
148639                                           Custodian
148640                             Parking Control Officer
148641                                        Museum Guard
148642                                         Sign Worker
148643                             Parking Control Officer
148644                        Stationary Eng, Sewage Plant
148645                           Human Services Technician
148646                                        Not provided
148647                         Communications Dispatcher 2
148648                                           Custodian
148649                                           Custodian
148650                                        Not provided
148651                                        Not provided
148652                                        Not provided
148653                          Counselor, Log Cabin Ranch
Name: JobTitle, Length: 148654, dtype: object

In [113]:
def chief_string(title):
    if 'chief' in title.lower().split():
        return True
    return False

In [114]:
chief_string('CHIEF MAN')

True

In [116]:
chief_string('no an')

False

In [121]:
sum(sal['JobTitle'].apply(lambda x: chief_string(x)))

477

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [123]:
sal['title_len'] = sal['JobTitle'].apply(len)

In [125]:
sal[['JobTitle', 'title_len']]

                                                JobTitle  title_len
0         GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY         46
1                        CAPTAIN III (POLICE DEPARTMENT)         31
2                        CAPTAIN III (POLICE DEPARTMENT)         31
3                   WIRE ROPE CABLE MAINTENANCE MECHANIC         36
4           DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)         44
5                              ASSISTANT DEPUTY CHIEF II         25
6                     BATTALION CHIEF, (FIRE DEPARTMENT)         34
7                         DEPUTY DIRECTOR OF INVESTMENTS         30
8                     BATTALION CHIEF, (FIRE DEPARTMENT)         34
9                 CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)         38
10      ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)         48
11                       CAPTAIN III (POLICE DEPARTMENT)         31
12                           EXECUTIVE CONTRACT EMPLOYEE         27
13                                     DEPARTMENT HEAD V         17
14                    BATTALION CHIEF, (FIRE DEPARTMENT)         34
15                    COMMANDER III, (POLICE DEPARTMENT)         34
16                                     DEPARTMENT HEAD V         17
17                 CAPTAIN, EMERGENCYCY MEDICAL SERVICES         37
18                    BATTALION CHIEF, (FIRE DEPARTMENT)         34
19                            ASSISTANT MEDICAL EXAMINER         26
20                            ASSISTANT MEDICAL EXAMINER         26
21                            ASSISTANT MEDICAL EXAMINER         26
22                             CAPTAIN, FIRE SUPPRESSION         25
23                    BATTALION CHIEF, (FIRE DEPARTMENT)         34
24                             CAPTAIN, FIRE SUPPRESSION         25
25                                       CHIEF OF POLICE         15
26                             CAPTAIN, FIRE SUPPRESSION         25
27                    BATTALION CHIEF, (FIRE DEPARTMENT)         34
28                  DEPUTY CHIEF III (POLICE DEPARTMENT)         36
29          DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)         44
...                                                  ...        ...
148624                                      Senior Clerk         12
148625                                  Registered Nurse         16
148626                                     Account Clerk         13
148627                                   General Laborer         15
148628                                   General Laborer         15
148629                                Transcriber Typist         18
148630                                         Carpenter          9
148631                       Communications Dispatcher 1         27
148632                        Protective Services Worker         26
148633                                   General Laborer         15
148634                               Transit Car Cleaner         19
148635                                   General Laborer         15
148636                               Arborist Technician         19
148637                            Transit Fare Inspector         22
148638                                       Electrician         11
148639                                         Custodian          9
148640                           Parking Control Officer         23
148641                                      Museum Guard         12
148642                                       Sign Worker         11
148643                           Parking Control Officer         23
148644                      Stationary Eng, Sewage Plant         28
148645                         Human Services Technician         25
148646                                      Not provided         12
148647                       Communications Dispatcher 2         27
148648                                         Custodian          9
148649                                         Custodian          9
148650                                      Not provided         12
148651                                      Not provided         12
148652                                      Not provided         12
148653                        Counselor, Log Cabin Ranch         26

[148654 rows x 2 columns]

In [127]:
sal['title_len']

0         46
1         31
2         31
3         36
4         44
5         25
6         34
7         30
8         34
9         38
10        48
11        31
12        27
13        17
14        34
15        34
16        17
17        37
18        34
19        26
20        26
21        26
22        25
23        34
24        25
25        15
26        25
27        34
28        36
29        44
          ..
148624    12
148625    16
148626    13
148627    15
148628    15
148629    18
148630     9
148631    27
148632    26
148633    15
148634    19
148635    15
148636    19
148637    22
148638    11
148639     9
148640    23
148641    12
148642    11
148643    23
148644    28
148645    25
148646    12
148647    27
148648     9
148649     9
148650    12
148651    12
148652    12
148653    26
Name: title_len, Length: 148654, dtype: int64

In [128]:
sal['JobTitle']

0           GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1                          CAPTAIN III (POLICE DEPARTMENT)
2                          CAPTAIN III (POLICE DEPARTMENT)
3                     WIRE ROPE CABLE MAINTENANCE MECHANIC
4             DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
5                                ASSISTANT DEPUTY CHIEF II
6                       BATTALION CHIEF, (FIRE DEPARTMENT)
7                           DEPUTY DIRECTOR OF INVESTMENTS
8                       BATTALION CHIEF, (FIRE DEPARTMENT)
9                   CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)
10        ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)
11                         CAPTAIN III (POLICE DEPARTMENT)
12                             EXECUTIVE CONTRACT EMPLOYEE
13                                       DEPARTMENT HEAD V
14                      BATTALION CHIEF, (FIRE DEPARTMENT)
15                      COMMANDER III, (POLICE DEPARTMENT)
16                                       DEPARTMENT HEAD V
17                   CAPTAIN, EMERGENCYCY MEDICAL SERVICES
18                      BATTALION CHIEF, (FIRE DEPARTMENT)
19                              ASSISTANT MEDICAL EXAMINER
20                              ASSISTANT MEDICAL EXAMINER
21                              ASSISTANT MEDICAL EXAMINER
22                               CAPTAIN, FIRE SUPPRESSION
23                      BATTALION CHIEF, (FIRE DEPARTMENT)
24                               CAPTAIN, FIRE SUPPRESSION
25                                         CHIEF OF POLICE
26                               CAPTAIN, FIRE SUPPRESSION
27                      BATTALION CHIEF, (FIRE DEPARTMENT)
28                    DEPUTY CHIEF III (POLICE DEPARTMENT)
29            DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
                                ...
148624                                        Senior Clerk
148625                                    Registered Nurse
148626                                       Account Clerk
148627                                     General Laborer
148628                                     General Laborer
148629                                  Transcriber Typist
148630                                           Carpenter
148631                         Communications Dispatcher 1
148632                          Protective Services Worker
148633                                     General Laborer
148634                                 Transit Car Cleaner
148635                                     General Laborer
148636                                 Arborist Technician
148637                              Transit Fare Inspector
148638                                         Electrician
148639                                           Custodian
148640                             Parking Control Officer
148641                                        Museum Guard
148642                                         Sign Worker
148643                             Parking Control Officer
148644                        Stationary Eng, Sewage Plant
148645                           Human Services Technician
148646                                        Not provided
148647                         Communications Dispatcher 2
148648                                           Custodian
148649                                           Custodian
148650                                        Not provided
148651                                        Not provided
148652                                        Not provided
148653                          Counselor, Log Cabin Ranch
Name: JobTitle, Length: 148654, dtype: object

In [131]:
sal[['JobTitle','title_len']]

                                                JobTitle  title_len
0         GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY         46
1                        CAPTAIN III (POLICE DEPARTMENT)         31
2                        CAPTAIN III (POLICE DEPARTMENT)         31
3                   WIRE ROPE CABLE MAINTENANCE MECHANIC         36
4           DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)         44
5                              ASSISTANT DEPUTY CHIEF II         25
6                     BATTALION CHIEF, (FIRE DEPARTMENT)         34
7                         DEPUTY DIRECTOR OF INVESTMENTS         30
8                     BATTALION CHIEF, (FIRE DEPARTMENT)         34
9                 CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)         38
10      ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)         48
11                       CAPTAIN III (POLICE DEPARTMENT)         31
12                           EXECUTIVE CONTRACT EMPLOYEE         27
13                                     DEPARTMENT HEAD V         17
14                    BATTALION CHIEF, (FIRE DEPARTMENT)         34
15                    COMMANDER III, (POLICE DEPARTMENT)         34
16                                     DEPARTMENT HEAD V         17
17                 CAPTAIN, EMERGENCYCY MEDICAL SERVICES         37
18                    BATTALION CHIEF, (FIRE DEPARTMENT)         34
19                            ASSISTANT MEDICAL EXAMINER         26
20                            ASSISTANT MEDICAL EXAMINER         26
21                            ASSISTANT MEDICAL EXAMINER         26
22                             CAPTAIN, FIRE SUPPRESSION         25
23                    BATTALION CHIEF, (FIRE DEPARTMENT)         34
24                             CAPTAIN, FIRE SUPPRESSION         25
25                                       CHIEF OF POLICE         15
26                             CAPTAIN, FIRE SUPPRESSION         25
27                    BATTALION CHIEF, (FIRE DEPARTMENT)         34
28                  DEPUTY CHIEF III (POLICE DEPARTMENT)         36
29          DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)         44
...                                                  ...        ...
148624                                      Senior Clerk         12
148625                                  Registered Nurse         16
148626                                     Account Clerk         13
148627                                   General Laborer         15
148628                                   General Laborer         15
148629                                Transcriber Typist         18
148630                                         Carpenter          9
148631                       Communications Dispatcher 1         27
148632                        Protective Services Worker         26
148633                                   General Laborer         15
148634                               Transit Car Cleaner         19
148635                                   General Laborer         15
148636                               Arborist Technician         19
148637                            Transit Fare Inspector         22
148638                                       Electrician         11
148639                                         Custodian          9
148640                           Parking Control Officer         23
148641                                      Museum Guard         12
148642                                       Sign Worker         11
148643                           Parking Control Officer         23
148644                      Stationary Eng, Sewage Plant         28
148645                         Human Services Technician         25
148646                                      Not provided         12
148647                       Communications Dispatcher 2         27
148648                                         Custodian          9
148649                                         Custodian          9
148650                                      Not provided         12
148651                                      Not provided         12
148652                                      Not provided         12
148653                        Counselor, Log Cabin Ranch         26

[148654 rows x 2 columns]

In [132]:
sal[['JobTitle', 'title_len']].corr()

           title_len
title_len        1.0

477

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

# Great Job!