In [1]:
conda install pandas

SyntaxError: invalid syntax (<ipython-input-1-182416202f0a>, line 1)

In [2]:
import pandas as pd

In [3]:
labels = ['a', 'b', 'c']

In [4]:
my_data = [10,20,30]

In [5]:
arr = np.array(my_data)

NameError: name 'np' is not defined

In [8]:
arr = np.array(my_data)

In [7]:
import numpy as np

In [10]:
arr = np.array(my_data)

arr

In [11]:
d = {'a':10, 'b':20, 'c':30}

In [12]:
d

{'a': 10, 'b': 20, 'c': 30}

In [13]:
pd.Series()

Series([], dtype: float64)

In [14]:
pd.Series()

Series([], dtype: float64)

In [15]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [17]:
pd.Series(data = my_data, index=labels)

a    10
b    20
c    30
dtype: int64

In [18]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int64

In [19]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [20]:
pd.Series(list(range(1,10)))

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [22]:
pd.Series(data=[sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [23]:
ser1 = pd.Series([1,2,3])

ser1

In [24]:
ser1

0    1
1    2
2    3
dtype: int64

In [26]:
ser3 = pd.Series(data=labels)

In [27]:
ser3

0    a
1    b
2    c
dtype: object

In [28]:
ser[0]

NameError: name 'ser' is not defined

In [29]:
ser3[0]

'a'