In [2]:
import numpy as np

In [20]:
import pandas as pd
from numpy.random import randn

In [6]:
outside = [
    'G1', 'G1', 'G1', 'G2', 'G2', 'G2'
]

In [7]:
inside = [1, 2, 3, 1, 2, 3
         ]

In [12]:
hier_index = list(zip(outside, inside))

In [14]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [16]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [17]:
inside

[1, 2, 3, 1, 2, 3]

In [18]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [21]:
df = pd.DataFrame(randn(6,2), hier_index, ['A', 'B'])

In [22]:
df

             A         B
G1 1 -0.728930 -0.933447
   2 -1.699167  0.524737
   3 -1.931515  1.717907
G2 1  1.477586 -0.046845
   2 -1.815125  0.607819
   3 -0.325174 -2.262208

In [24]:
   df.loc['G1']

          A         B
1 -0.728930 -0.933447
2 -1.699167  0.524737
3 -1.931515  1.717907

In [27]:
df.loc['G1'].loc[1]

A   -0.728930
B   -0.933447
Name: 1, dtype: float64

In [28]:
df.index.names

FrozenList([None, None])

In [29]:
df

             A         B
G1 1 -0.728930 -0.933447
   2 -1.699167  0.524737
   3 -1.931515  1.717907
G2 1  1.477586 -0.046845
   2 -1.815125  0.607819
   3 -0.325174 -2.262208

In [31]:
df.index.names = ['Groups', 'Num']

In [32]:
df

                   A         B
Groups Num
G1     1   -0.728930 -0.933447
       2   -1.699167  0.524737
       3   -1.931515  1.717907
G2     1    1.477586 -0.046845
       2   -1.815125  0.607819
       3   -0.325174 -2.262208

In [35]:
df.loc['G2'].loc[3]['B']

-2.2622081210378098

In [37]:
df.xs('G1')

            A         B
Num
1   -0.728930 -0.933447
2   -1.699167  0.524737
3   -1.931515  1.717907

In [38]:
df.xs(1, level='Num')

               A         B
Groups
G1     -0.728930 -0.933447
G2      1.477586 -0.046845