In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy.random import randn

In [3]:
np.random.seed(101)

In [6]:
df = pd.DataFrame(randn(5,4), ['A', 'B', 'C', 'D', 'E'], ['W', 'X', 'Y', 'Z'])

In [7]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [8]:
df['W']

A    0.302665
B   -0.134841
C    0.807706
D   -0.497104
E   -0.116773
Name: W, dtype: float64

In [9]:
df['W']['A']

0.3026654485851825

In [10]:
df = pd.DataFrame(randn(5,4,3))

ValueError: Must pass 2-d input

In [11]:
type(df['W'])

pandas.core.series.Series

In [12]:
type(df)

pandas.core.frame.DataFrame

In [13]:
df.Y

A   -1.706086
B    0.166905
C    0.638787
D   -0.943406
E    0.238127
Name: Y, dtype: float64

In [14]:
df.A

AttributeError: 'DataFrame' object has no attribute 'A'

In [15]:
df[['W','Z']]

          W         Z
A  0.302665 -1.159119
B -0.134841  0.184502
C  0.807706  0.329646
D -0.497104  0.484752
E -0.116773  1.996652

In [16]:
df['new'] = df['W'] + df['Y']

In [17]:
df.new

A   -1.403420
B    0.032064
C    1.446493
D   -1.440510
E    0.121354
Name: new, dtype: float64

In [18]:
df.drop('new')

KeyError: "['new'] not found in axis"

In [19]:
df

          W         X         Y         Z       new
A  0.302665  1.693723 -1.706086 -1.159119 -1.403420
B -0.134841  0.390528  0.166905  0.184502  0.032064
C  0.807706  0.072960  0.638787  0.329646  1.446493
D -0.497104 -0.754070 -0.943406  0.484752 -1.440510
E -0.116773  1.901755  0.238127  1.996652  0.121354

In [20]:
df.drop('E')

          W         X         Y         Z       new
A  0.302665  1.693723 -1.706086 -1.159119 -1.403420
B -0.134841  0.390528  0.166905  0.184502  0.032064
C  0.807706  0.072960  0.638787  0.329646  1.446493
D -0.497104 -0.754070 -0.943406  0.484752 -1.440510

In [21]:
df

          W         X         Y         Z       new
A  0.302665  1.693723 -1.706086 -1.159119 -1.403420
B -0.134841  0.390528  0.166905  0.184502  0.032064
C  0.807706  0.072960  0.638787  0.329646  1.446493
D -0.497104 -0.754070 -0.943406  0.484752 -1.440510
E -0.116773  1.901755  0.238127  1.996652  0.121354

In [22]:
df.shape

(5, 5)

In [23]:
df['A']['X']

KeyError: 'A'

In [24]:
df

          W         X         Y         Z       new
A  0.302665  1.693723 -1.706086 -1.159119 -1.403420
B -0.134841  0.390528  0.166905  0.184502  0.032064
C  0.807706  0.072960  0.638787  0.329646  1.446493
D -0.497104 -0.754070 -0.943406  0.484752 -1.440510
E -0.116773  1.901755  0.238127  1.996652  0.121354

In [25]:
df

          W         X         Y         Z       new
A  0.302665  1.693723 -1.706086 -1.159119 -1.403420
B -0.134841  0.390528  0.166905  0.184502  0.032064
C  0.807706  0.072960  0.638787  0.329646  1.446493
D -0.497104 -0.754070 -0.943406  0.484752 -1.440510
E -0.116773  1.901755  0.238127  1.996652  0.121354

In [26]:
df.loc['A']

W      0.302665
X      1.693723
Y     -1.706086
Z     -1.159119
new   -1.403420
Name: A, dtype: float64

In [27]:
df.iloc[]

SyntaxError: invalid syntax (<ipython-input-27-75d2b8f5a532>, line 1)

In [28]:
df.iloc['C']

TypeError: cannot do positional indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [C] of <class 'str'>

In [29]:
df.iloc[2]

W      0.807706
X      0.072960
Y      0.638787
Z      0.329646
new    1.446493
Name: C, dtype: float64

In [30]:
df.loc['B', 'y']

KeyError: 'the label [y] is not in the [index]'

In [31]:
df.loc['B', 'Y']

0.16690463609281317

In [32]:
df.loc[['A','B'],['W','Y']]

          W         Y
A  0.302665 -1.706086
B -0.134841  0.166905

# Conditional Selection

In [33]:
df > 0

       W      X      Y      Z    new
A   True   True  False  False  False
B  False   True   True   True   True
C   True   True   True   True   True
D  False  False  False   True  False
E  False   True   True   True   True

In [34]:
 resultdf = df[df['W'] > 0]

In [35]:
df[df['W']>0]

          W         X         Y         Z       new
A  0.302665  1.693723 -1.706086 -1.159119 -1.403420
C  0.807706  0.072960  0.638787  0.329646  1.446493

In [36]:
boolser = df['W'] > 0

In [37]:
result

NameError: name 'result' is not defined

In [38]:
1 + 1

2

In [39]:
df

          W         X         Y         Z       new
A  0.302665  1.693723 -1.706086 -1.159119 -1.403420
B -0.134841  0.390528  0.166905  0.184502  0.032064
C  0.807706  0.072960  0.638787  0.329646  1.446493
D -0.497104 -0.754070 -0.943406  0.484752 -1.440510
E -0.116773  1.901755  0.238127  1.996652  0.121354

In [40]:
df[(df['W'])]

KeyError: '[ 0.30266545 -0.13484072  0.80770591 -0.49710402 -0.11677332] not in index'

In [41]:
(True) and (False)

False

In [42]:
(True and True) and (False and True)

False

In [43]:
df.reset_index()

  index         W         X         Y         Z       new
0     A  0.302665  1.693723 -1.706086 -1.159119 -1.403420
1     B -0.134841  0.390528  0.166905  0.184502  0.032064
2     C  0.807706  0.072960  0.638787  0.329646  1.446493
3     D -0.497104 -0.754070 -0.943406  0.484752 -1.440510
4     E -0.116773  1.901755  0.238127  1.996652  0.121354

In [44]:
df

          W         X         Y         Z       new
A  0.302665  1.693723 -1.706086 -1.159119 -1.403420
B -0.134841  0.390528  0.166905  0.184502  0.032064
C  0.807706  0.072960  0.638787  0.329646  1.446493
D -0.497104 -0.754070 -0.943406  0.484752 -1.440510
E -0.116773  1.901755  0.238127  1.996652  0.121354

In [46]:
newind = 'CA NY WY OR CO'.split()

In [47]:
newind

['CA', 'NY', 'WY', 'OR', 'CO']

In [48]:
df['States'] = newind

In [49]:
df

          W         X         Y         Z       new States
A  0.302665  1.693723 -1.706086 -1.159119 -1.403420     CA
B -0.134841  0.390528  0.166905  0.184502  0.032064     NY
C  0.807706  0.072960  0.638787  0.329646  1.446493     WY
D -0.497104 -0.754070 -0.943406  0.484752 -1.440510     OR
E -0.116773  1.901755  0.238127  1.996652  0.121354     CO

In [50]:
df.set_index('States')

               W         X         Y         Z       new
States
CA      0.302665  1.693723 -1.706086 -1.159119 -1.403420
NY     -0.134841  0.390528  0.166905  0.184502  0.032064
WY      0.807706  0.072960  0.638787  0.329646  1.446493
OR     -0.497104 -0.754070 -0.943406  0.484752 -1.440510
CO     -0.116773  1.901755  0.238127  1.996652  0.121354

## DataFrames P3

In [51]:
# Multi index and index hierarchy

In [58]:
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [63]:
randn(6, 2)

array([[ 0.60885729,  0.28647299],
       [-0.2057923 ,  2.49399019],
       [-0.54725989,  0.49672695],
       [-1.23561426, -0.79842796],
       [ 0.75412143, -0.77204064],
       [-0.03443164,  0.68840842]])

In [65]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [66]:
pd

In [69]:
df = pd.DataFrame(randn(6,2), hier_index, ['A', 'B'])

In [71]:
df.loc['G1'].loc[1]

A    0.902826
B   -0.537909
Name: 1, dtype: float64

In [72]:
df.index.names

FrozenList([None, None])

In [73]:
df.index.names = ['Groups', 'Num']

In [74]:
df

                   A         B
Groups Num
G1     1    0.902826 -0.537909
       2   -1.549671  0.435253
       3    1.259904 -0.447898
G2     1    0.266207  0.412580
       2    0.988773  0.513833
       3   -0.928205  0.846904

In [75]:
df.xs

<bound method NDFrame.xs of                    A         B
Groups Num
G1     1    0.902826 -0.537909
       2   -1.549671  0.435253
       3    1.259904 -0.447898
G2     1    0.266207  0.412580
       2    0.988773  0.513833
       3   -0.928205  0.846904>

In [76]:
df.xs('G1')

            A         B
Num
1    0.902826 -0.537909
2   -1.549671  0.435253
3    1.259904 -0.447898

In [77]:
df

                   A         B
Groups Num
G1     1    0.902826 -0.537909
       2   -1.549671  0.435253
       3    1.259904 -0.447898
G2     1    0.266207  0.412580
       2    0.988773  0.513833
       3   -0.928205  0.846904

In [78]:
df.xs(1, level='Num')

               A         B
Groups
G1      0.902826 -0.537909
G2      0.266207  0.412580

In [79]:
## Pandas Missing Data

In [81]:
d = {'A':[1,2,np.nan], 'B':[5,np.nan,np.nan],'C':[1,2,3]}

In [82]:
d

{'A': [1, 2, nan], 'B': [5, nan, nan], 'C': [1, 2, 3]}

In [83]:
df = pd.DataFrame(d)

In [84]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [85]:
df.dropna()

     A    B  C
0  1.0  5.0  1

In [86]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [87]:
df.dropna(thresh=2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [88]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [89]:
df.fillna()

ValueError: Must specify a fill 'value' or 'method'.

In [90]:
df.fillna(value='Fill')

      A     B  C
0     1     5  1
1     2  Fill  2
2  Fill  Fill  3

In [91]:
df.A

0    1.0
1    2.0
2    NaN
Name: A, dtype: float64

In [92]:
df['A'].fillna(value=df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

In [93]:
# Group By

In [94]:
data = {'Company':['GOOG', 'GOOG', 'MSFT', 'MSFT', 'FB', 'FB'], 
       'Person': ['Sam', 'Charie', 'Amy', 'Vanessa', 'Carl', 'Sarah'],
       'Sales': [200, 120, 340, 124, 243, 350]}

In [95]:
df = pd.DataFrame(data)

In [96]:
df

  Company   Person  Sales
0    GOOG      Sam    200
1    GOOG   Charie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350

In [98]:
byComp = df.groupby('Company')

In [99]:
byComp.mean()

         Sales
Company
FB       296.5
GOOG     160.0
MSFT     232.0

In [100]:
byComp.sum()

         Sales
Company
FB         593
GOOG       320
MSFT       464

In [101]:
byComp.std()

              Sales
Company
FB        75.660426
GOOG      56.568542
MSFT     152.735065

In [103]:
df.groupby('Company').count()

         Person  Sales
Company
FB            2      2
GOOG          2      2
MSFT          2      2

In [104]:
df.groupby('Company').max()

          Person  Sales
Company
FB         Sarah    350
GOOG         Sam    200
MSFT     Vanessa    340

In [105]:
df.groupby('Company').describe().transpose()

Company              FB        GOOG        MSFT
Sales count    2.000000    2.000000    2.000000
      mean   296.500000  160.000000  232.000000
      std     75.660426   56.568542  152.735065
      min    243.000000  120.000000  124.000000
      25%    269.750000  140.000000  178.000000
      50%    296.500000  160.000000  232.000000
      75%    323.250000  180.000000  286.000000
      max    350.000000  200.000000  340.000000